@charset "UTF-8";
:root {
 --woocommerce:#a46497;
 --wc-green:#7ad03a;
 --wc-red:#a00;
 --wc-orange:#ffba00;
 --wc-blue:#2ea2cc;
 --wc-primary:#a46497;
 --wc-primary-text:white;
 --wc-secondary:#ebe9eb;
 --wc-secondary-text:#515151;
 --wc-highlight:#77a464;
 --wc-highligh-text:white;
 --wc-content-bg:#fff;
 --wc-subtext:#767676
}

.woocommerce-store-notice,
p.demo_store {
 background-color:#a46497;
 color:#fff;
 box-shadow:0 1px 1em rgba(0,0,0,.2);
}
.woocommerce-store-notice a,
p.demo_store a {
 color:#fff;
 text-decoration:underline
}

/* BlockUI */

.woocommerce .blockUI.blockOverlay {
 position:relative
}
.woocommerce .blockUI.blockOverlay::before {
 color:rgba(0,0,0,.75)
}
.woocommerce .loader::before {
 color:rgba(0,0,0,.75)
}
.woocommerce a.remove {
 color:red!important;
}
.woocommerce a.remove:hover {
 color:#fff!important;
 background: red;
}
.woocommerce small.note {
 color:#767676;
}
.woocommerce .woocommerce-breadcrumb {
 color:#767676
}
.woocommerce .woocommerce-breadcrumb a {
 color:#767676
}
.woocommerce div.product p.price,
.woocommerce div.product span.price {
 color:#77a464;
}
.woocommerce div.product .single_variation_wrap span.price {
 font-size: 1.75em;
}
.woocommerce div.product .out-of-stock {
 color:red;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .zoomImg {
 background-color:#fff;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image--placeholder {
 border:1px solid #f2f2f2;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
 background:#fff;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger::before {
 border:2px solid #000;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger::after {
 background:#000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
 border:1px solid #d3ced2;
 background-color:#ebe9eb;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
 color:#515151;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
 color:#6b6a6b
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
 background:#fff;
 border-bottom-color:#fff
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
 box-shadow:2px 2px 0 #fff
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
 box-shadow:-2px 2px 0 #fff
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {

}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
 box-shadow:2px 2px 0 #ebe9eb
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
 box-shadow:-2px 2px 0 #ebe9eb
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
 border-bottom:1px solid #d3ced2;
}
.woocommerce span.onsale {
 background-color:#77a464;
 color:#fff;
}
.woocommerce ul.products li.product .woocommerce-placeholder {
 border:1px solid #f2f2f2
}
.woocommerce ul.products li.product .price {
 color:#77a464;
}
.woocommerce ul.products li.product .price .from {
 color:rgba(132,132,132,.5)
}
.woocommerce nav.woocommerce-pagination ul {
 border:1px solid #d3ced2;
}
.woocommerce nav.woocommerce-pagination ul li {
 border-right:1px solid #d3ced2;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
 background:#ebe9eb;
 color:#8a7e88
}
TBR.buy-button-wrapper a.added_to_cart,
TBR.woocommerce #respond input#submit,
TBR.woocommerce a.button,
TBR.woocommerce button.button,
TBR.woocommerce input.button {
 padding: 1em;
 font-weight:700;
 border-radius:3px;
 color:#515151;
 background-color:#ebe9eb;
}
.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading {
 opacity:.25;
 padding-right:2.618em
}
.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after {
  top: auto;
}
.woocommerce #respond input#submit.added::after,
.woocommerce a.button.added::after,
.woocommerce button.button.added::after,
.woocommerce input.button.added::after {

}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
 background-color:#dfdcde;
 color:#515151
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
 background-color:#a46497;
 color:#fff;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
 background-color:#96588a;
 color:#fff
}
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
 background-color:#a46497;
 color:#fff
}
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {

}
.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover {
 color:inherit;
 background-color:#ebe9eb
}
.woocommerce .cart .button,
.woocommerce .cart input.button {

}
.woocommerce #reviews h2 small {
 color:#767676;
}
.woocommerce #reviews h2 small a {
 color:#767676
}
.woocommerce #reviews #comments ol.commentlist li .meta {
 color:#767676;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
 background:#ebe9eb;
 border:1px solid #e4e1e3;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
 border:1px solid #e4e1e3;
}
.woocommerce #reviews #comments ol.commentlist #respond {
 border:1px solid #e4e1e3;
}
.woocommerce #review_form #respond {
 background:transparent none;
}
.woocommerce table.shop_attributes {
 border-top:1px dotted rgba(0,0,0,.1);
 }
.woocommerce table.shop_attributes th {
 border-bottom:1px dotted rgba(0,0,0,.1);
}
.woocommerce table.shop_attributes td {
 border-bottom:1px dotted rgba(0,0,0,.1);
}
.woocommerce table.shop_attributes tr:nth-child(even) td,
.woocommerce table.shop_attributes tr:nth-child(even) th {
 background:rgba(0,0,0,.025)
}
.woocommerce table.shop_table {
 border:1px solid rgba(0,0,0,.1);
}
.woocommerce table.shop_table td {
 border-top:1px solid rgba(0,0,0,.1);
}

/* Table Stuff */

.woocommerce table.shop_table {
 border:1px solid #CCC;
 border-radius: 0;
}
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
  border: none;
}
.woocommerce table.shop_table td {
  border: none;
  border-top: none;
}
.woocommerce table.shop_table th {
  border: none;
  border-bottom: 1px solid #CCC;
}
.woocommerce table.shop_table td,
.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table tfoot td {
  border-bottom: 1px solid #CCC;
}
.woocommerce table.shop_table tbody:first-child tr:first-child td,
.woocommerce table.shop_table tbody:first-child tr:first-child th {
    border-top: 0;
    border-bottom: 1px solid #CCC;
}
.woocommerce table.shop_table tbody:first-child tr:first-child:last-child td,
.woocommerce table.shop_table tbody:first-child tr:first-child:last-child th {
  border-bottom: none;
}
.woocommerce table.shop_table tfoot tr:first-child th,
.woocommerce table.shop_table tfoot tr:first-child td {
  border-top: 1px solid #CCC;
}
.woocommerce table.shop_table tr:last-child td,
.woocommerce table.shop_table tfoot tr:last-child th,
.woocommerce table.shop_table tfoot tr:last-child td {
  border-bottom: none;
}

/* End Tabel Stuff */

.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl {
 border-left:2px solid rgba(0,0,0,.1)
}
.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
 border-top:3px double #ebe9eb;
}
.woocommerce form .form-row .woocommerce-input-wrapper .description {
 background:#1e85be;
 color:#fff;
}
.woocommerce form .form-row .woocommerce-input-wrapper .description a {
 color:#fff;
}
.woocommerce form .form-row .woocommerce-input-wrapper .description::before {
 border-color:#1e85be transparent transparent transparent;
}
.woocommerce form .form-row .required {
 color:red;
}
.woocommerce form .form-row.woocommerce-invalid label {
 color:#a00
}
.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
 border-color:#a00
}
.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
 border-color:#6dc22e
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
 border:1px solid #d3ced2;
 border-radius: 0;
}
.woocommerce ul.order_details li {
 border-right:1px dashed #d3ced2;
}
.woocommerce .woocommerce-customer-details address {
 border:1px solid rgba(0,0,0,.1);
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a::before {
 color:#a00
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
 background-color:#a46497;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
 background-color:#a46497
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
 background-color:#462940;
}
.woocommerce .widget_rating_filter ul li.chosen a::before {
 color:#a00
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
 background-color:#f7f6f7;
 color:#515151;
 border-top:3px solid #a46497;
}
.woocommerce-message {
 border-top-color:#8fae1b
}
.woocommerce-message::before {
 color:#8fae1b
}
.woocommerce-info {
 border-top-color:#1e85be
}
.woocommerce-info::before {
 color:#1e85be
}
.woocommerce-error {
 border-top-color:#b81c23
}
.woocommerce-error::before {
 color:#b81c23
}
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {

}
#add_payment_method .cart-collaterals .cart_totals p small,
.woocommerce-cart .cart-collaterals .cart_totals p small,
.woocommerce-checkout .cart-collaterals .cart_totals p small {
 color:#767676;
}
#add_payment_method .cart-collaterals .cart_totals table small,
.woocommerce-cart .cart-collaterals .cart_totals table small,
.woocommerce-checkout .cart-collaterals .cart_totals table small {
 color:#767676
}
#add_payment_method .cart-collaterals .cart_totals .discount td,
.woocommerce-cart .cart-collaterals .cart_totals .discount td,
.woocommerce-checkout .cart-collaterals .cart_totals .discount td {
 color:#77a464
}
#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th {
 border-top:1px solid #ebe9eb
}
.woocommerce-cart .cart-collaterals .cart_totals tr:last-child th,
.woocommerce-cart .cart-collaterals .cart_totals tr:last-child td {
  border-top: none;
}
#add_payment_method .checkout .create-account small,
.woocommerce-cart .checkout .create-account small,
.woocommerce-checkout .checkout .create-account small {
 color:#767676;
}
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
 background:#ebe9eb;
 border-radius: 0;
}
#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
 border-bottom:1px solid #d3ced2;
}
#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
 background-color:#dfdcde;
 color:#515151
}
#add_payment_method #payment div.payment_box input.input-text,
#add_payment_method #payment div.payment_box textarea,
.woocommerce-cart #payment div.payment_box input.input-text,
.woocommerce-cart #payment div.payment_box textarea,
.woocommerce-checkout #payment div.payment_box input.input-text,
.woocommerce-checkout #payment div.payment_box textarea {
 border-color:#c7c1c6;
 border-top-color:#bbb3b9
}
#add_payment_method #payment div.payment_box ::-webkit-input-placeholder,
.woocommerce-cart #payment div.payment_box ::-webkit-input-placeholder,
.woocommerce-checkout #payment div.payment_box ::-webkit-input-placeholder {
 color:#bbb3b9
}
#add_payment_method #payment div.payment_box :-moz-placeholder,
.woocommerce-cart #payment div.payment_box :-moz-placeholder,
.woocommerce-checkout #payment div.payment_box :-moz-placeholder {
 color:#bbb3b9
}
#add_payment_method #payment div.payment_box :-ms-input-placeholder,
.woocommerce-cart #payment div.payment_box :-ms-input-placeholder,
.woocommerce-checkout #payment div.payment_box :-ms-input-placeholder {
 color:#bbb3b9
}
#add_payment_method #payment div.payment_box span.help,
.woocommerce-cart #payment div.payment_box span.help,
.woocommerce-checkout #payment div.payment_box span.help {
 color:#767676;
}
#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
 border:1em solid #dfdcde;
 border-right-color:transparent;
 border-left-color:transparent;
 border-top-color:transparent;
}
.woocommerce-terms-and-conditions {
 border:1px solid rgba(0,0,0,.2);
 box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
 background:rgba(0,0,0,.05)
}
.woocommerce-invalid #terms {
 outline:2px solid red;
}
.woocommerce-password-strength.strong {
 background-color:#c1e1b9;
 border-color:#83c373
}
.woocommerce-password-strength.short {
 background-color:#f1adad;
 border-color:#e35b5b
}
.woocommerce-password-strength.bad {
 background-color:#fbc5a9;
 border-color:#f78b53
}
.woocommerce-password-strength.good {
 background-color:#ffe399;
 border-color:#ffc733
}

.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
  vertical-align: middle;
}

.woocommerce div.product .product_meta + .a2a_kit {
  margin-top: 15px;
  display: inline-block;
}

.woocommerce div.product form.cart .select2-container {
  max-width: 70%;
}

.woocommerce div.product form.cart .reset_variations {
  max-width: 30%;
  padding: 10px;
  display: inline-block;
  margin-left: 10px;
}

/* Cart Specific */

.woocommerce-cart .cart-collaterals .cart_totals table {
  margin-bottom: 30px;
}

@media screen and (min-width:768px) {
 .woocommerce .cart-collaterals .cart_totals,
 .woocommerce-page .cart-collaterals .cart_totals {
  width:100%;
  float:none
 }
 #add_payment_method .cart-collaterals .cart_totals table,
 .woocommerce-cart .cart-collaterals .cart_totals table,
 .woocommerce-checkout .cart-collaterals .cart_totals table {
  width:48%;
  float:left
 }
 #add_payment_method .wc-proceed-to-checkout,
 .woocommerce-cart .wc-proceed-to-checkout,
 .woocommerce-checkout .wc-proceed-to-checkout {
  width:48%;
  float:right;
  padding-top:0
 }
}
.shipping input[value*=free_shipping]+.woocommerce-shipping-calculator {
 display:none
}
body.woocommerce .cart-collaterals,
body.woocommerce-page .cart-collaterals {
 display:flex;
 flex-direction:column
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
 order:-1
}
@media screen and (min-width:1180px) {
 .woocommerce-cart .entry-content>.woocommerce {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between
 }
 .woocommerce-cart .entry-content>.woocommerce .woocommerce-notices-wrapper {
  width:100%
 }
 .woocommerce-cart .entry-content>.woocommerce .woocommerce-cart-form {
  width:calc(60% - 30px)
 }
 .woocommerce-cart .entry-content>.woocommerce .cart-collaterals {
  width:40%
 }
 .woocommerce-cart .entry-content>.woocommerce .cart_totals>h2 {
  margin:0;
  font-weight:700;
  padding:9px 12px;
  line-height:1.5em;
  font-size:1rem;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
 }
 .woocommerce-cart .cart-collaterals .cart_totals table,
 .woocommerce-cart .wc-proceed-to-checkout {
  width:100%
 }
}

/* Checkout Specific */

form.woocommerce-checkout {
  display: block
}

body .woocommerce form .form-row label {
  line-height: 1.5;
  margin-bottom: 7.5px;
}

/* Checkout Description Tooltip */

body .woocommerce form .form-row {
  position: relative;
}

.woocommerce form .form-row .woocommerce-input-wrapper .description {
  position: absolute;
  left: 0;
  top: 101%;
}

/* End */

form.woocommerce-checkout #order_review_heading,
form.woocommerce-checkout #order_review,
form.woocommerce-checkout #customer_details {
  width: calc(50% - 30px);
}

form.woocommerce-checkout #customer_details {
  float: left;
}

form.woocommerce-checkout #order_review_heading,
form.woocommerce-checkout #order_review {
  float: right;
}

form.woocommerce-checkout #customer_details .col-1,
form.woocommerce-checkout #customer_details .col-2 {
  width: 100%;
}

form.woocommerce-checkout #customer_details .col-2 {
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  form.woocommerce-checkout #order_review_heading,
  form.woocommerce-checkout #order_review,
  form.woocommerce-checkout #customer_details {
    width: 100%;
    float: none;
  }
  form.woocommerce-checkout #order_review_heading {
    margin-top: 45px;
  }
  .woocommerce form .form-row.angel-nick-text,
  .woocommerce form.woocommerce-checkout table.shop_table {
    margin-bottom: 45px;
  }
}

/* Radio buttons in checkout */

.woocommerce form .form-row label[class*="radio"],
.woocommerce-page form .form-row label[class*="radio"],
.woocommerce form .form-row input[type="radio"] {
  display: inline-block;
}

.woocommerce form .form-row input[type="radio"] {
  margin-right: 5px;
}

.woocommerce form .form-row label[class*="radio"] + input[type="radio"],
.woocommerce-page form .form-row label[class*="radio"] + input[type="radio"]  {
  margin-left: 20px;
}

/* increment / Decrement buttons */

.woocommerce-variation-add-to-cart {
  margin-top: 1em;
}

.woocommerce div.product form.cart div.quantity {
  margin-right: 16px;
}

.woocommerce div.product form.cart div.quantity::after {
  clear: both;
  display: table;
  content: '';
}

.quantity-wrapper {

}

.increment,
.decrement {
	cursor: pointer;
	transition: 0.5s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
}

.increment:hover,
.decrement:hover {

}

.increment::before {
	content: '+';
	width: 12px;
	text-align: center;
	display: block;
	font-weight: bold;
}

.decrement:before {
	content: '-';
	width: 12px;
	text-align: center;
	display: block;
	font-weight: bold;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button,
.quantity input::-webkit-inner-spin-button,
.quantity input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-wrapper,
.decrement,
.increment {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.decrement,
.increment {
	align-items: center;
	margin: 0 auto;
	font-size: 1.2em;
	text-align: center;
}

.variations_button .increment,
.variations_button .decrement,
td.product-quantity .decrement,
td.product-quantity .increment {
	padding: 0 5px;
	background: #FFF;
}

.quantity-wrapper input[type="number"],
body input[type="text"].qtyval {
	text-align: center;
	-moz-appearance: textfield;
	color: #000;
}

/* +- buttons in Order Review */

#order_review td.product-name {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 0;
}

#order_review td.product-name > * {
  font-size: 1rem;
  line-height: 1.5;
}

#order_review .quantity-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 103px;
  height: 46px;
  margin: auto;
}

#order_review a.remove {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

#order_review .cqoc_product_name,
#order_review .variation {
  width: calc(100% - 230px);
  margin-left: 30px;
}

/* Buy Button Wrap */

.woocommerce ul.products li.product .button {
  margin-top: 0;
}

.buy-button-wrapper {
	display: block;
	position: relative;
  margin-top: 1em;
}

.outofstock .buy-button-wrapper .button.product_type_variable,
.buy-button-wrapper > .add_to_cart_button,
.buy-button-wrapper > .button:first-child {

}

.buy-button-wrapper + .buy-button-wrapper {

}

.buy-button-wrapper > * {
	display: inline-block;
}

.buy-button-wrapper a.added_to_cart {
	margin: 0;
  z-index: 1;
	position: absolute;
	height: 100%;
  width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease-in-out;
	top: 0;
	left: 0;
}

.remove-added-to-cart {
  position: absolute;
  right: 1em;
}

.remove-added-to-cart::after {
	content: '\f00d';
	font-family: 'FontAwesome';
	display: inline-block;
  margin-left: 15px;
}
